<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>あにそーん</title>
    <style>
        html, body {
            height: 100%;
            min-width: 384px;
        }
        i {
            cursor: pointer;
        }
        i:hover {
            text-decoration: underline;
        }
        div#content-wrapper {
            position: relative;
            overflow: auto;
            display: -webkit-box;
            width:  100%;
            height: 120%;
        }
        div#right-wrapper {
            height:100%;
            overflow: scroll;
        }
        div#animes-container {
            height: 100%;
            width: 600px;
        }
        div#amazon-widget-container {
        }
        div#footer {
            clear: both;
        }
    </style>
</head>
<body>
    <p>[ <span id="display-mtitle"></span> / <span id="display-atitle"></span> / <span id="display-mtype"></span> ]</p>
    <div id="content-wrapper">
        <div id="left-wrapper">
            <div id="player-container">
                <div id="video">
                </div>
            </div>
            <div id="controler-container">
                <p>
                    <form name="player-options">
                        <input type="radio" name="repeatType" value="next" checked>オート次曲 <input type="radio" name="repeatType" value="one">1曲リピート
                        <a class="goNext" href="#">次の曲へ</a>
                    </form>
                </p>
            </div>
            <div id="amazon-widget-container">
                <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fotiai10-22%2F8002%2F9ce67d1b-0e9a-4696-b91c-4c3e81308955"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fotiai10-22%2F8002%2F9ce67d1b-0e9a-4696-b91c-4c3e81308955&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>
            </div>
        </div><!-- /#left-wrapper -->
        <div id="right-wrapper">
            <div id="animes-container">
                <div id="animes">
                </div>
            </div>
        </div><!-- /#right-wrapper -->
    </div>
    <div id="footer">
        <p>
            <table><tbody>
                <tr>
                    <td>Thanks to</td>
                    <td><a href="http://cal.syoboi.jp/">しょぼいカレンダー API</a>, <a href="https://developers.google.com/youtube/">YouTube API</a></td>
                </tr>
                <tr>
                    <td>Powered by</td>
                    <td><a href="https://github.com/breily/juno">Juno</a></td>
                </tr>
                <tr>
                    <td>苦情・バグ・改善</td>
                    <td><a href="https://github.com/otiai10/anisoon/issues/new">github/otiai10</a></td>
                </tr>
                <tr>
                    <td>お問い合わせ</td>
                    <td><a href="https://twitter.com/otiai10">twitter/otiai10</a></td>
                </tr>
            </tbody></table>
            <h2>あにそーん</h2>
        </p>
    </div>
    <script type="text/template" id="anime-template">
        <b><%- Title %></b>
        <ul>
            <li>OP
                <ul>
                <% for (var i=0;i<music.op.length;i++){ %>
                    <li>
                        <i id="idx<%- music.op[i].minfo.idx %>" class="mtitle"><%- music.op[i].minfo.mtitle %></i>
                    </li>
                <% } %>
                </ul>
            </li>
            <li>ED
                <ul>
                <% for (var i=0;i<music.ed.length;i++){ %>
                    <li>
                        <i id="idx<%- music.ed[i].minfo.idx %>"class="mtitle"><%- music.ed[i].minfo.mtitle %></i>
                    </li>
                <% } %>
                </ul>
            </li>
        </ul>
    </script>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
<!--script type="text/javascript" src="http://otiai10.com/json2.js"></script-->
<script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript" charset="utf-8" id="preload">
// see : https://developers.google.com/youtube/js_api_reference?hl=ja#Events
var __playlist__ = [];
var __player__;
var __index__ = 0;
var __animes__ = {{ list }};

var STATE = {
  READY    : -1,
  ENDED    :  0,
  PLAYING  :  1,
  STOPED   :  2,
  BUFFERING:  3,
  HEADED   :  5,
}

function __init(){
    initPlayer();
    initPlaylist();
    __index__ = 0;
}

function playThis(){
    var m = __playlist__[__index__];
    if (__playlist__[__index__].video === void 0) {
        //console.log('今再生しようとしているエントリは、ビデオインフォが無いですね');
        var query =  __playlist__[__index__].mtitle + ' ' + __playlist__[__index__].atitle;
        var searcher = new Search('youtube', query);
        searcher.exec(function(data){
            __playlist__[__index__].vinfo = data;
            __play();
        });
    }else{
        //console.log('ビデオインフォがあります');
        __play();
    }
}

// Facade
function Search(src,query){
    this.src   =   src;
    this.query = query;
    this.searcher;
    switch(this.src){
        case 'youtube':
            this.searcher = new Youtube(query);
            break;
        default:
            this.searcher = new Youtube(query);
    }
    this.exec = function(cb){
        var _srchr = this.searcher;
        $.get(
            this.searcher.base_url,
            this.searcher.options,
            function(data){
                cb(_srchr.convert(data));
            }
        );
    }; 
}

function Youtube(query){
    this.base_url = 'http://gdata.youtube.com/feeds/api/videos';
    this.options = {
        'alt' :      'json',
        'q'   :       query,
        'max-results' : '1',
    };
    this.res   =    {
        'vtitle'    : '',
        'hash'      : '',
        'permalink' : '',
        // and more...
    };
    this.filter = function(list){
        return list[0];
    };
    this.convert = function(data){
        if (data.feed.entry == void 0) {
            alert('ちょっと見つからね。次いくわ。');
            playNext();
        }
        var list = data.feed.entry;
        var _v = this.filter(list);
        //console.log(_v);
        this.res.vtitle = _v.title.$t;
        this.res.hash = _v.id.$t.match(/\/[a-zA-Z0-9_\-]+$/).pop().substring(1);
        this.res.permalink = _v.link[0].href;
        return this.res;
    };
}

function __play(){
    __player__.loadVideoById(__playlist__[__index__].vinfo.hash);
    updateDisplay();
    refreshAmazon();
}

function updateDisplay(){
    focusThis();
    displayTitle();
}
function focusThis(){
    // refresh
    $('.mtitle').css({
        color:      'black',
        fontWeight:'normal',
    });
    // focus
    $('#idx' + __index__).css({
        color:       'red',
        fontWeight: 'bold',
    });
}
function displayTitle(){
    var mtitle = __playlist__[__index__].mtitle;
    var atitle = __playlist__[__index__].atitle;
    var mtype  = __playlist__[__index__].type;
    $('span#display-mtitle').html(mtitle);
    $('span#display-atitle').html(atitle);
    $('span#display-mtype').html(mtype);
}

function initPlayer(initialID){
    if(!initialID) initialID = 'QusbhxkanU0';
    var params = { allowScriptAccess: "always" };
    var atts   = { id: "player" };
    swfobject.embedSWF(
        "http://www.youtube.com/v/" + initialID + "?enablejsapi=1&playerapiid=ytplayer",
        "video",
        "460",
        "320",
        "8",
        null,
        null,
        params,
        atts
    );
}

function onYouTubePlayerReady(){
    __player__ = document.getElementById('player');
    __player__.addEventListener("onStateChange", "stateDispatcher");
    __player__.addEventListener("onError",       "errorHandler");
    //if(isAutoStartRequired()){
        playThis();
    //}
}

function stateDispatcher(state){
    switch(state){
        case STATE.ENDED:
            var opt = document.forms['player-options'];
            if (opt.repeatType[0].checked) {
                playNext();
            } else {
                playThis();
            }
            break;
    }
}
function errorHandler(err){
    // TODO : imple
}

function playNext(){
    __index__++;
    if (__playlist__[__index__] == void 0) {
        __index__ = 0;
    }
    playThis();
}

function playDirect(idx){
    __index__ = idx;
    playThis();
}

function initPlaylist(){
    var tmp_index = 0;
    for (var i = 0; i < __animes__.length; i++ ) {
        var atitle = __animes__[i]['Title'];
        for (var j=0;j<__animes__[i].music.op.length;j++) {
            var entry = {
                'idx'    : tmp_index,
                'atitle' : atitle,
                'mtitle' : __animes__[i].music.op[j].mtitle,
                'type'   : 'opening',
            }
            __animes__[i].music.op[j].minfo = entry;
            __playlist__.push(entry);
            tmp_index++;
        }
        for (var j=0;j<__animes__[i].music.ed.length;j++) {
            var entry = {
                'idx'    : tmp_index,
                'atitle' : atitle,
                'mtitle' : __animes__[i].music.ed[j].mtitle,
                'type'   : 'ending',
            }
            __animes__[i].music.ed[j].minfo = entry;
            __playlist__.push(entry);
            tmp_index++;
        }
    }
}

function refreshAmazon(){
  var amzn_search_textfield = document.getElementById('amzn_search_textfield');
  amzn_search_textfield.value = __playlist__[__index__].atitle;
  var frm = document.getElementById('searchBoxForm');
  window.nextCallBack["JP"][8002][0].goOnClick("JP",0);
  return false;
}

(function(){

    __init();

    var AnimeView = Backbone.View.extend({
        tagName  : 'li',
        template : _.template($('#anime-template').html()),
        render   : function(){
            var tpl = this.template(this.model.attributes);
            this.$el.html(tpl);
            return this;
        },
    });
    var AnimesView = Backbone.View.extend({
        tagName : 'ul',
        render  : function(){
            this.collection.each(function(_anime){
                var animeView = new AnimeView({model:_anime});
                this.$el.append(animeView.render().el);
            },this);
            return this;
        },
    });

    var animes = new Backbone.Collection(__animes__);

    var animesView = new AnimesView({collection : animes});
    $('#animes').html(animesView.render().el);
    $('.mtitle').on('click',function(){
        var idx = parseInt(this.getAttribute('id').replace('idx',''));
        playDirect(idx);
    });

    $('.goNext').on('click',function(){
        playNext();
    });
})();
</script>
</html>
